
<section class="comment" id="comment">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h4 class="comment__title wow slideInUp">Отзывы<span class="dot">.</span></h4>
      </div>
      <div class="col-12">
        <div class="comment__slider">
          <div class="comment__item">
            <div class="comment__item-img"><img class="img-responsive" src="img/clientfoto.png" alt="Клиент"/></div>
            <p class="comment__item-name">Иванов Иван</p>
            <p class="comment__item-date">18 февраля</p>
            <p class="comment__item-text">Когда наш дизайнер сделал нужные замеры уже построенного дома, то была крайне удивленаточностью, с которой совпадало то, что было написано в планах дома и ее личные замеры. Этобыло после. До этого была дорога длиной в год, во время которого был построен кирпичный дом(280 квадратных метров) и не было ни одного нарекания.  Я очень опасался, потому что…<br> </p><a class="comment__item-link" href="#">Читать полностью…</a>
            <p class="comment__item-social"><a class="comment__item-social-icon comment__item-social-facebook" href="#"><img src="img/face_color.svg" alt="Социальные"/></a><a class="comment__item-social-icon comment__item-social-instagram" href="#"><img src="img/instagram_color.svg" alt="Социальные" width="14px"/></a></p>
          </div>
          <div class="comment__item">
            <div class="comment__item-img"><img class="img-responsive" src="img/clientfoto.png" alt="Клиент"/></div>
            <p class="comment__item-name">Иванов Иван</p>
            <p class="comment__item-date">18 февраля</p>
            <p class="comment__item-text">Когда наш дизайнер сделал нужные замеры уже построенного дома, то была крайне удивленаточностью, с которой совпадало то, что было написано в планах дома и ее личные замеры. Этобыло после. До этого была дорога длиной в год, во время которого был построен кирпичный дом(280 квадратных метров) и не было ни одного нарекания.  Я очень опасался, потому что…<br> </p><a class="comment__item-link" href="#">Читать полностью…</a>
            <p class="comment__item-social"><a class="comment__item-social-icon comment__item-social-facebook" href="#"><img src="img/face_color.svg" alt="Социальные"/></a><a class="comment__item-social-icon comment__item-social-instagram" href="#"><img src="img/instagram_color.svg" alt="Социальные" width="14px"/></a></p>
          </div>
          <div class="comment__item">
            <div class="comment__item-img"><img class="img-responsive" src="img/clientfoto.png" alt="Клиент"/></div>
            <p class="comment__item-name">Иванов Иван</p>
            <p class="comment__item-date">18 февраля</p>
            <p class="comment__item-text">Когда наш дизайнер сделал нужные замеры уже построенного дома, то была крайне удивленаточностью, с которой совпадало то, что было написано в планах дома и ее личные замеры. Этобыло после. До этого была дорога длиной в год, во время которого был построен кирпичный дом(280 квадратных метров) и не было ни одного нарекания.  Я очень опасался, потому что…<br> </p><a class="comment__item-link" href="#">Читать полностью…</a>
            <p class="comment__item-social"><a class="comment__item-social-icon comment__item-social-facebook" href="#"><img src="img/face_color.svg" alt="Социальные"/></a><a class="comment__item-social-icon comment__item-social-instagram" href="#"><img src="img/instagram_color.svg" alt="Социальные" width="14px"/></a></p>
          </div>
          <div class="comment__item">
            <div class="comment__item-img"><img class="img-responsive" src="img/clientfoto.png" alt="Клиент"/></div>
            <p class="comment__item-name">Иванов Иван</p>
            <p class="comment__item-date">18 февраля</p>
            <p class="comment__item-text">Когда наш дизайнер сделал нужные замеры уже построенного дома, то была крайне удивленаточностью, с которой совпадало то, что было написано в планах дома и ее личные замеры. Этобыло после. До этого была дорога длиной в год, во время которого был построен кирпичный дом(280 квадратных метров) и не было ни одного нарекания.  Я очень опасался, потому что…<br> </p><a class="comment__item-link" href="#">Читать полностью…</a>
            <p class="comment__item-social"><a class="comment__item-social-icon comment__item-social-facebook" href="#"><img src="img/face_color.svg" alt="Социальные"/></a><a class="comment__item-social-icon comment__item-social-instagram" href="#"><img src="img/instagram_color.svg" alt="Социальные" width="14px"/></a></p>
          </div>
          <div class="comment__item">
            <div class="comment__item-img"><img class="img-responsive" src="img/clientfoto.png" alt="Клиент"/></div>
            <p class="comment__item-name">Иванов Иван</p>
            <p class="comment__item-date">18 февраля</p>
            <p class="comment__item-text">Когда наш дизайнер сделал нужные замеры уже построенного дома, то была крайне удивленаточностью, с которой совпадало то, что было написано в планах дома и ее личные замеры. Этобыло после. До этого была дорога длиной в год, во время которого был построен кирпичный дом(280 квадратных метров) и не было ни одного нарекания.  Я очень опасался, потому что…<br> </p><a class="comment__item-link" href="#">Читать полностью…</a>
            <p class="comment__item-social"><a class="comment__item-social-icon comment__item-social-facebook" href="#"><img src="img/face_color.svg" alt="Социальные"/></a><a class="comment__item-social-icon comment__item-social-instagram" href="#"><img src="img/instagram_color.svg" alt="Социальные" width="14px"/></a></p>
          </div>
          <div class="comment__item">
            <div class="comment__item-img"><img class="img-responsive" src="img/clientfoto.png" alt="Клиент"/></div>
            <p class="comment__item-name">Иванов Иван</p>
            <p class="comment__item-date">18 февраля</p>
            <p class="comment__item-text">Когда наш дизайнер сделал нужные замеры уже построенного дома, то была крайне удивленаточностью, с которой совпадало то, что было написано в планах дома и ее личные замеры. Этобыло после. До этого была дорога длиной в год, во время которого был построен кирпичный дом(280 квадратных метров) и не было ни одного нарекания.  Я очень опасался, потому что…<br> </p><a class="comment__item-link" href="#">Читать полностью…</a>
            <p class="comment__item-social"><a class="comment__item-social-icon comment__item-social-facebook" href="#"><img src="img/face_color.svg" alt="Социальные"/></a><a class="comment__item-social-icon comment__item-social-instagram" href="#"><img src="img/instagram_color.svg" alt="Социальные" width="14px"/></a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>