
<main class="main">
  <section class="prof">
    <h2 class="prof__title">Ты готов стать профессионалом?</h2>
    <p class="prof__text">Мы ищем<span> талантов</span> и<span> саппортов</span> в команду. Решите на какую категорию вы претендуете.</p>
    <div class="prof__anket">
      <div class="prof__anket-plus"></div><a class="prof__anket-button" href="#">Заполните анкету </a>
    </div>
  </section>
  <section class="image"></section>
  <section class="skill">
    <div class="skill__box">
      <div class="skill__item">
        <h4 class="skill__item-title">Прокачиваем мир</h4>
        <p class="skill__item-text">Вы хотите сделать мир лучше и не готовы ждать всю жизнь, чтобы начать это делать?</p>
      </div>
      <div class="skill__item">
        <h4 class="skill__item-title">Мотивируем себя</h4>
        <p class="skill__item-text">У вас есть собственная цель и вы не боитесь много работать, чтобы её достичь?</p>
      </div>
      <div class="skill__item">
        <h4 class="skill__item-title">Используем лучшее</h4>
        <p class="skill__item-text">Вы способны применять разные подходы для достижения своих целей?</p>
      </div>
      <div class="skill__item">
        <h4 class="skill__item-title">Относимся с пониманием</h4>
        <p class="skill__item-text">Вы не обвиняете других в свои неудачах и способны воспринимать критику?</p>
      </div>
    </div>
  </section>
  <section class="info">
    <div class="info__box">
      <h2 class="info__title">Мы похожи!</h2>
      <p class="info__text">Не следует, однако забывать, что укрепление и развитие структуры представляет собой интересный эксперимент проверки позиций, занимаемых участниками в отношении поставленных задач. Разнообразный и богатый опыт рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям. Повседневная практика показывает, что укрепление и развитие структуры способствует подготовки и реализации форм развития.</p>
      <p class="info__text">Разнообразный и богатый опыт начало повседневной работы по формированию позиции способствует подготовки и реализации дальнейших направлений развития. Равным образом дальнейшее развитие различных форм деятельности позволяет оценить значение соответствующий условий активизации. С другой стороны постоянный количественный рост и сфера нашей активности позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт укрепление и развитие структуры позволяет оценить значение дальнейших направлений развития. Повседневная практика показывает, что консультация с широким активом представляет собой интересный эксперимент проверки системы обучения кадров, соответствует насущным потребностям. Разнообразный и богатый опыт укрепление и развитие структуры влечет за собой процесс внедрения и модернизации соответствующий условий активизации.</p>
    </div>
  </section>
  <section class="proof">
    <h2 class="proof__title">Приемущества работы с нами</h2>
    <div class="proof__box">
      <div class="proof__item"><img class="proof__item-img" src="img/icon.svg" alt="Icon"/>
        <h3 class="proof__item-title">Делимся оптом и навыками</h3>
        <p class="proof__item-text">Мы обучаем коллег всему, что знаем сами. Наш опыт уникален и проверен временем, а команда постоянно совершенствует свои знания и навыки.</p>
      </div>
      <div class="proof__item"><img class="proof__item-img" src="img/icon.svg" alt="Icon"/>
        <h3 class="proof__item-title">Стабильная зарплата</h3>
        <p class="proof__item-text">Вы без задержек получаете официальную зарплату. Также мы оплачиваем больничные и даем возможность брать оплачиваемый отпуск до 4 недель в год.</p>
      </div>
      <div class="proof__item"><img class="proof__item-img" src="img/icon.svg" alt="Icon"/>
        <h3 class="proof__item-title">Гибкий график</h3>
        <p class="proof__item-text">Мы умеем работать с теми, кто еще не закончил получать образование. Вы можете работать неполный рабочий день, брать отгулы на время сессии и диплома.</p>
      </div>
    </div>
  </section>
  <section class="formcontent">
    <h2 class="formcontent__title">Теперь расскажите о себе</h2>
    <form class="form">
      <div class="form__item">
        <p class="form__item-title">Фамилия и имя</p>
        <input class="form__item-input" type="text" name="name" placeholder="Михайловский Алексей"/>
        <p class="form__item-error"></p>
      </div>
      <div class="form__item">
        <p class="form__item-title">Электронная почта</p>
        <input class="form__item-input" type="email" name="email" placeholder="mikhalich2701@yandex.ru"/>
        <p class="form__item-error"></p>
      </div>
      <div class="form__item">
        <p class="form__item-title">Телефон</p>
        <input class="form__item-input" type="tel" name="tel" placeholder="+7(926)363-68-24"/>
        <p class="form__item-error"></p>
      </div>
      <div class="form__item">
        <p class="form__item-title">Какой деятельностью, не связанной с текущими проектами, вы бы хотели заниматься в рабочее время? </p>
        <textarea class="form__item-textarea" name="message" placeholder="Развитием собственного сайта"></textarea>
      </div>
      <button class="form__button" type="submit">Отправить</button>
    </form>
  </section>
</main>