doctype html
html(lang='ru')
	head
		include layout/head.pug
		block title
			title Meandr
	body

		//MAINCONTENT
		include layout/maincontent.pug		

		//SCRIPT
		include layout/scripts.pug



	